@model IEnumerable<Project_Summer.DataContext.ChiTietHd>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered" id="Detail">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã chi tiết HD</th>
            <th scope="col">Mã DH</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giảm giá</th>
            <th scope="col">Đơn giá</th>
        </tr>
    </thead>
    <tbody>
   @foreach(var item in Model){
            <tr>
                <th scope="row">@item.MaCt</th>
                <td>@item.MaHd</td>

                <td>@item.MaHhNavigation.TenHh</td>
       
                <td>@item.SoLuong</td>
                <td>@item.GiamGia</td>
                <td>@item.DonGia</td>
                
              
            </tr>
   }
 
    </tbody>
</table>
@section Scripts {
    <script>
        new DataTable('#Detail', {
            layout: {
                topStart: {
                    buttons: ['print','pdf']
                }
            }
        });
    </script>
}




